"appbuild"
{
    "appid" "TODO_STEAM_APP_ID"
    "desc" "The Axiom Windows release"
    "buildoutput" "..\\..\\Builds\\SteamPipeOutput"
    "contentroot" "..\\..\\Builds\\SteamWindows"
    "setlive" ""
    "preview" "0"
    "local" ""
    "depots"
    {
        "TODO_WINDOWS_DEPOT_ID" "depot_build_windows.vdf"
    }
}
